
doctype html
html
  head
     meta(name='viewport', content='width=device-width, initial-scale=1')
     link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
     link(rel='stylesheet', href='/stylesheets/login.css')

  
     script(type='text/javascript' src='lib.js')
     script(type='text/javascript').
      function login(form) {
      var un = form.email.value;
      var pw = form.password.value;
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("post", "Submit", true);
      xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
      loginResults();
      }
      }
      xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
      xmlhttp.send("username=" + un + "&password=" + pw);
      function loginResults() {
      var loggedIn = document.getElementById("LoggedIn");
      var badLogin = document.getElementById("BadLogin");
      if (xmlhttp.responseText.indexOf("failed") == -1) {
      loggedIn.innerHTML = "Logged in as " + xmlhttp.responseText;
      loggedIn.style.display = "block";
      form.style.display = "none";
      } else {
      badLogin.style.display = "block";
      form.email.select();
      form.email.className = "Highlighted";
      setTimeout(function() {
      badLogin.style.display = 'none';
      }, 3000);
      }
      }
      }
      observeEvent(window, "load", function() {
      var loginForm = document.getElementById("myform");
      observeEvent(loginForm, "submit", function() {
      login(loginForm);
      });
      });
title FoodSetGo
  // for-mobile-apps
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
script(type='application/x-javascript').
  addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar(){ window.scrollTo(0,1); }

script.
  function myFunction() {
  alert("You have logged in");
 }
  //-link(href='StyleSheet1.css' rel='stylesheet' type='text/css' media='all')
  // js
  // <script type="text/javascript" src="JavaScript1.js"></script>
link(href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css')
// banner
.pic
  .center-container
    .main
      h1.head Log In
      .main_grid
        // <form name ="myform" action="#"  onsubmit="return validateForm()" method="post" class="form_post">
        form#myform(method='post' action='/login' onsubmit='return validation();')
          .agileits_main_grid.l_main_grid
            span.agileits_grid
              label Your Email 
              input(type='text' name='email' placeholder='Your Email' required='')
          .agileits_main_grid.l_main_grid
            span.agileits_grid
              label Your Password 
              input#psw(type='password' name='password' placeholder='Your Password' required='')
          .clear
          // </div>
          .main_grid2
            .main_grid2_right
              //-input(type='submit'name ='submit' value='Submit')
              button(onclick='myFunction()') LogIn
            #BadLogin
              p
                | The login information you entered does not match
                | an account in our records. Please try again.
        h1#LoggedIn
  // //footer

