doctype html
head
  title MENU
  link(rel='stylesheet', href='/stylesheets/bootstraporder.css')
  // jQuery (necessary for Bootstrap's JavaScript plugins)
<<<<<<< HEAD
  script(src='/javascripts/jquery.min1.js')
=======
  script(src='/javascripts/js/jquery.min1.js')
>>>>>>> 018408f96efa061166d3d05643f1c0eb9a6425de
  // Custom Theme files
  link(rel='stylesheet', href='/stylesheets/styleorder.css')
  // Custom Theme files
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(type='application/x-javascript').
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  // webfont
  link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic', rel='stylesheet', type='text/css')
  link(href='//fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic', rel='stylesheet', type='text/css')
  // Animation
<<<<<<< HEAD
  script(type='text/javascript', src='/javascripts/wow.min.js')
  link(rel='stylesheet', href='/stylesheets/animateorder.css')
  script
    new WOW().init();
  script(type='text/javascript', src='/javascripts/move-top.js')
  script(type='text/javascript', src='/javascripts/easing.js')
  script(type='text/javascript').
    jQuery(document).ready(function(Rs) {
    $(".scroll").click(function(event){
    event.preventDefault();
    $('html,body').animate({scrollTop:Rs(this.hash).offset().top},1200);
=======
  script(src='/javascripts/js/wow.min.js')
  link(rel='stylesheet', href='/stylesheets/animateorder.css')
  script.
    new WOW().init();
  script(type='text/javascript', src='js/move-top.js')
  script(type='text/javascript', src='js/easing.js')
  script(type='text/javascript').
    jQuery(document).ready(function(Rs) {
    Rs(".scroll").click(function(event){
    event.preventDefault();
    Rs('html,body').animate({scrollTop:Rs(this.hash).offset().top},1200);
>>>>>>> 018408f96efa061166d3d05643f1c0eb9a6425de
    });
    });
  script(src='/javascripts/simpleCart.min.js')
// header-section-starts
<<<<<<< HEAD
header#mu-header
  nav.navbar.navbar-default.mu-main-navbar(role='navigation')
    .container
      .navbar-header
        // FOR MOBILE VIEW COLLAPSED BUTTON
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        // LOGO
        // Text based logo
        a#size.navbar-brand(href='index.html')
          img(src='/images/logo1.png')
        a.navbar-brand(href='#home')
          | FoodSet
          span Go
        // Image based logo
        // <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo img"></a>
      #navbar.navbar-collapse.collapse
        if user
          ul#top-menu.nav.navbar-nav.navbar-right.mu-main-nav

            li
              a(href='orders') ORDERS

            li
              a(href='/rest') RESTAURANT

            li
              a(href='feedback/add') FEEDBACK

            li
              a(href='/logout') LOGOUT
            li  
              .cart.box_1
                a(href='/menu/order') Order Placed
                  h3
                    span.simpleCart_total  Rs0.00 
                    |  (
                    span#simpleCart_quantity.simpleCart_quantity  0 
                    |  items)
                    img(src='/images/cart.jpeg', alt='')
                p
                  a.simpleCart_empty(href='javascript:;') Empty card
                .clearfix 

=======
.header
  .container
    .top-header
      .header-right
        .cart.box_1
          a(href='checkout')
            h3
              span.simpleCart_total  Rs0.00 
              |  (
              span#simpleCart_quantity.simpleCart_quantity  0 
              |  items)
              img(src='/images/cart.jpeg', alt='')
          p
            a.simpleCart_empty(href='javascript:;') Empty card
          .clearfix 
      .clearfix
  .menu-bar
    .container
      .top-menu
        ul
          li
            a(href='/') Home
          |               |
          li
            a(href='/orders') Order
          |                |
          li
            a(href='/rest') Restaurant
          //-.clearfix
          .clearfix
      .clearfix
>>>>>>> 018408f96efa061166d3d05643f1c0eb9a6425de
// header-section-ends
// content-section-starts
.orders
  .container
    .order-top
      li.item-lists
        h4 Pizzas
        p Exotic Combo of Cheese &amp; Basil
        p  Capsicum, Tomatoes, Onion
        p  Chicken Tikka &amp; Cheese
        p  Chicken Stripse
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
      .clearfix
    .order-top
      li.item-lists
        h4 Burgers
        p Vegetable Patty With Coleslaw
        p Fajita Paneer &amp; Vegetable
        p Chicken Patty With Vegetable
        p Chicken Cut in Mexican Style
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
      .clearfix
    .order-top
      li.item-lists
        h4 Hot Dogs
        p Mixed Vegetable With Cheese
        p Grilled Paneer &amp; Vegetable
        p Chicken Sausage With Mustard
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
      .clearfix
    .order-top
      li.item-lists
        h4 Desserts
        p (Black Forest/Truffle/Noughat)
        p Apple Pie With Ice Cream
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
      .clearfix
    .order-top
      li.item-lists
        h4 Cold Beverages
        p Strawberry Milk Shake
        p Chocolate Milk Shake
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') Pick
            .clearfix
      .clearfix
    .order-top
      li.item-lists
        h4 Sandwiches
        p (Mint With Cheese Tomato)
        p (Fresh Tomatoes, Cucumber)
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') pick
            .clearfix
      .clearfix
    .order-top
      li.item-lists
        h4 Exotic Cakes
        p Pineapple Flavoured Cream)
        p A Chocolate Sponge Base
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') pick
            .clearfix
      .clearfix
    br
    .order-top
      li.item-lists
        h4 Ice Creams
        p Butter Scotch
        p Pineapple
        p Black Forest
        p Chocolate with Orange
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') pick
            .clearfix
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 ONLY Rs30.00
            .pr-right
              .item_add
                span.item_price
                  a(href='#') pick
            .clearfix
      .clearfix
// content-section-ends
// footer-section-starts
.footer
  .container
    p.wow.fadeInLeft(data-wow-delay='0.4s') &copy; FOODSETGO
// footer-section-ends
script(type='text/javascript').
<<<<<<< HEAD
  $(document).ready(function() {
=======
  Rs(document).ready(function() {
>>>>>>> 018408f96efa061166d3d05643f1c0eb9a6425de
  /*
  var defaults = {
  containerID: 'toTop', // fading element id
  containerHoverID: 'toTopHover', // fading element hover id
  scrollSpeed: 1200,
  easingType: 'linear'
  };
  */
<<<<<<< HEAD
  $().UItoTop({ easingType: 'easeOutQuart' });
=======
  Rs().UItoTop({ easingType: 'easeOutQuart' });
>>>>>>> 018408f96efa061166d3d05643f1c0eb9a6425de
  });
a#toTop(href='#', style='display: block;')
  span#toTopHover(style='opacity: 1;')  
