doctype html
head
  title Restaurants
  link(rel='stylesheet', href='/stylesheets/bootstraporder.css')
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='/javascripts/js/jquery.min1.js')
  // Custom Theme files
  link(rel='stylesheet', href='/stylesheets/styleorder.css')
  // Custom Theme files
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(type='application/x-javascript').
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  // webfont
  link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic', rel='stylesheet', type='text/css')
  link(href='//fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic', rel='stylesheet', type='text/css')
  // Animation
  script(src='/javascripts/js/wow.min.js')
  link(rel='stylesheet', href='/stylesheets/animateorder.css')
  script.
    new WOW().init();
  script(type='text/javascript', src='js/move-top.js')
  script(type='text/javascript', src='js/easing.js')
  script(type='text/javascript').
    jQuery(document).ready(function($) {
    $(".scroll").click(function(event){
    event.preventDefault();
    $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
    });
    });
<<<<<<< HEAD
  script(src='/javascripts/js/simpleCart.min.js')
// header-section-starts
header#mu-header
  nav.navbar.navbar-default.mu-main-navbar(role='navigation')
    .container
      .navbar-header
        // FOR MOBILE VIEW COLLAPSED BUTTON
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        // LOGO
        // Text based logo
        a#size.navbar-brand(href='index.html')
          img(src='/images/logo1.png')
        a.navbar-brand(href='#home')
          | FoodSet
          span Go
        // Image based logo
        // <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo img"></a>
      #navbar.navbar-collapse.collapse
        if user
          ul#top-menu.nav.navbar-nav.navbar-right.mu-main-nav

            li
              a(href='orders') ORDERS

            li
              a(href='/rest') RESTAURANT

            li
              a(href='feedback/add') FEEDBACK

            li
              a(href='/logout') LOGOUT
=======
  script(src='js/simpleCart.min.js')
// header-section-starts
.header
  .container
    .top-header
      .clearfix
  .menu-bar
    .container
      .top-menu
        ul
          li
            a(href='/') Home
          |               |
          li
            a(href='/#mu-contact') contact
          .clearfix
>>>>>>> 018408f96efa061166d3d05643f1c0eb9a6425de
// header-section-ends
// content-section-starts
.Popular-Restaurants-content
  .Popular-Restaurants-grids
    .container
    -var index=0;
    each entry in rests
      .Popular-Restaurants-grid.wow.fadeInRight(data-wow-delay='0.4s')
     
        .col-md-3.restaurent-logo
          img.img-responsive(src=entry.image, alt='')
        .col-md-2.restaurent-title
          .logo-title
          
            h4
              //-a(href='/rest/:restid')= entry.name
              a(href='/rest/' +  entry._id)= entry.name
               
         
          .rating
            span ratings
            a(href='#')
              img.img-responsive(src='images/star1.jpeg', alt='')
        .col-md-7.buy
          a.morebtn.hvr-rectangle-in(href='/menu') buy
        .clearfix
    -index++;
      
      .footer
        .container
          p.wow.fadeInLeft(data-wow-delay='0.4s') &copy; FOODSETGO
      // footer-section-ends
      script(type='text/javascript').
        $(document).ready(function() {
        /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear'
        };
        */
        $().UItoTop({ easingType: 'easeOutQuart' });
        });
      a#toTop(href='#', style='display: block;')
        span#toTopHover(style='opacity: 1;')  
